# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. VBA (visual basic for applications)
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy

| Data Science Tools |

| Jupyter Notebook |

| Pandas           |

| Scikit-learn     |

Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This expression will convert 200 minutes to hours by diving by 60

In [10]:
total_minutes = 200
hours = total_minutes // 60
minutes = total_minutes % 60
time = "{}:{}".format(hours, minutes)
print(time)

3:20

**Objectives:**

- List popular languages in data science
- List commonly used libraries
- practice creating a table
    - Practice arthmetics
    - Practice code cells

## Author

Kim G